{% extends 'base.html' %}

{% block content %}
	{{block.super}}
	<main class="main">
			<!-- .clockbox -->
			<div id="jsonresp" class="report-display">

			<div class="container">
				<h1>Ana_log</h1>
				<h2>Report</h2>
				<div class="row">
					<div class="col-md-12">
						<table class="table">
							<tr class="table-header">
								<th class="cell">Program Time</th>
								<th class="cell">Event</th>
								<th class="cell">Message</th>
								<th class="cell">Actual Time</th>
								<th class="cell">Display Message</th>
				
							</tr>
							<tr  class="active">
								<td> 12:00:30 </td>
								<td> START </td>
								<td> Start 16 servers </td>
								<td> 10:00:30am </td>
								<td> 12:00:30 - start 16 servers </td>
							</tr>							
						</table>
					</div>
					<input type="submit" class="btn btn-success btn-lg outline btn-block" name="comment"
            value="Back" id="toggle-content"/>
				</div>
			</div>
		</div>
		</main>
{% endblock %}







 

